In [ ]:
import pandas as pd
df=pd.read_csv('/content/movies_by_year.csv')
df.head()

Simple Line Graph (Visualize trends over the Time)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
x=np.array([1,2,3,4])
y=x ** 2
plt.plot(x,y)
plt.xlabel('x-axis')
plt.ylabel('y-axis')
plt.title('Simple Line Graph')
#plt.grid(True)
plt.show()

Multiple Line Charts:
We can display more than one chart in the same container by using pyplot.figure() function.
Used to comparing the different charts and also control the look and feel ofthe chart.

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
x=np.array([1,2,3,4])
y=x ** 2
plt.plot(x,y,'--',linewidth=3,color='red')
plt.xlabel('x-axis')
plt.ylabel('y-axis')
plt.title('First Chart')
#plt.grid(True)
plt.show()
plt.figure()
x=np.array([1,2,3,4])
plt.plot(x,x**3,'-.')
plt.xlabel('x-axis')
plt.ylabel('y-axis')
plt.title('Second Chart')
#plt.grid(True)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
x=np.array([1,2,3,4])
y=x ** 2
plt.plot(x,y,'--',linewidth=3,color='red')
plt.xlabel('x-axis')
plt.ylabel('y-axis')


x=np.array([1,2,3,4])
plt.plot(x,x**3,'-.')
plt.xlabel('x-axis')
plt.ylabel('y-axis')
plt.title('Line graph')
plt.legend(['first','second'],loc='lower right')
#plt.grid(True)
plt.show()

In [ ]:
import numpy as np
x=np.linspace(-10,10,100)
y=np.sin(x)
plt.plot(x,y)
plt.xlabel('x-axis')
plt.ylabel('y-axis')
plt.title('Sine Wave')
plt.legend(['sin(x)'])

plt.show()

In [ ]:
# First create a grid of plots
# ax will be an array of two Axes objects
fig, ax = plt.subplots(2)

# Call plot() method on the appropriate object
ax[0].plot(x, np.sin(x))
ax[1].plot(x, np.cos(x));

In [ ]:
plt.figure()  # create a plot figure

# create the first of two panels and set current axis
plt.subplot(2, 1, 1) # (rows, columns, panel number)
plt.plot(x, np.sin(x))

# create the second panel and set current axis
plt.subplot(2, 1, 2)
plt.plot(x, np.cos(x));

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
plt.figure()  # create a plot figure
x=np.linspace(-10,10,100)
# create the first of two panels and set current axis
plt.subplot(2, 2, 1) # (rows, columns, panel number)
plt.plot(x, np.sin(x))
plt.xlabel('x-values')
plt.ylabel('sine')


# create the second panel and set current axis
plt.subplot(2, 2, 2)
plt.plot(x, np.cos(x));
plt.xlabel('x-values')
plt.ylabel('cosine')

# create the third panel and set current axis
plt.subplot(2, 2, 3)
plt.plot(x, np.tan(x));
plt.xlabel('x-values')
plt.ylabel('tan')

# create the fourth panel and set current axis
plt.subplot(2, 2, 4)
plt.plot(x, x**2);
plt.xlabel('x-values')
plt.ylabel('x**2')
plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd
df=pd.read_csv('/content/movies_by_year.csv')
df.head()

In [ ]:
import matplotlib.pyplot as plt
#df.plot(x='Year',y='Number of Movies')
plt.plot(df['Year'],df['Number of Movies'])
plt.xlabel('Year')
plt.ylabel('Number of Movies')
plt.title('Number of Movies by Year')
plt.show()

In [ ]:
century_21st=df[df['Year']>=2000]
century_21st

In [ ]:
plt.plot(century_21st['Year'],century_21st['Number of Movies'])
plt.xlabel('Year')
plt.ylabel('Number of Movies')
plt.title('Number of Movies by Year')
plt.show()

In [ ]:
plt.plot(century_21st['Year'],century_21st['Total Gross'])
plt.xlabel('Year')
plt.ylabel('Gross')
plt.title('Gross of Movies by Year')
plt.show()
#

In [ ]:
century_21st[century_21st['Year']==2009]