In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Generate random data for the histogram
data = np.random.randn(1000)
print(data)

# Creating a customized histogram with a density plot
sns.histplot(data, bins=30, kde=True, color='lightgreen', edgecolor='red')

# Adding labels and title
plt.xlabel('Values')
plt.ylabel('Density')
plt.title('Customized Histogram with Density Plot')

# Display the plot
plt.show()

In [ ]:
import pandas as pd
df=pd.read_excel('/content/actors.xlsx')
df.head()

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

Scatter Plots:Used to find the relation ship between two numerical variables

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(df['Number of Movies'],df['Total Gross'])
plt.xlabel('Number of Movies')
plt.ylabel('Total Gross')
plt.title('Scatter Plot')
plt.show()

In [ ]:
plt.scatter(df['Number of Movies'],df['Total Gross'],c='pink',linewidth=2,marker='s',edgecolor='green',s=50)
plt.xlabel('Number of Movies')
plt.ylabel('Total Gross')
plt.title('Scatter Plot')
plt.show()

In [ ]:
plt.scatter(df['Number of Movies'],df['Average per Movie'],c='pink',linewidth=2,marker='s',edgecolor='green',s=50)
plt.xlabel('Number of Movies')
plt.ylabel('Average per Movie')
plt.title('Scatter Plot')
plt.show()

In [ ]:
no_outlier=df[df['Number of Movies']>10]
no_outlier

In [ ]:
plt.scatter(no_outlier['Number of Movies'],no_outlier['Average per Movie'],c='green')
plt.xlabel('Number of Movies')
plt.ylabel('Average per Movie')
plt.title('Scatter Plot')
plt.show()

In [ ]:
no_outlier1=df[df['Number of Movies']>60]
no_outlier1

In [ ]:
no_outlier2=df[df['Number of Movies']<10]
no_outlier2