In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [ ]:
d1 = pd.read_csv(r'../Datasets/uk-500.csv')
d1.head()

**Population and Samples**

 Sampling Techniques

Simple Random Sampling

***df.sample(n=None, frac=None, replace=False, weights=None, random_state=None, axis=None)***

n: The number of random rows to return (default is 1).

frac: A fraction of rows to return. For example, frac=0.1 would return 10% of the DataFrame's rows.

replace: Allows sampling with or without replacement. If replace=True, a row can be selected multiple times.

weights: The relative weights of each row for sampling. If None, all rows have equal weight.

random_state: A seed for the random number generator. Useful for reproducibility of results.

axis: Axis to sample along. 0 or index to sample rows, and 1 or columns to sample columns.

In [ ]:
d1.sample(n=3)

In [ ]:
d1.sample(frac=0.1)

In [ ]:
d1.sample(n=3, replace=True)

If you the above cell repeatedly you will get different results everytime.

In [ ]:
d1.sample(n=3, random_state=1)

If you execute the above cell repeatedly, you will get the same results repeatedly.
not only 1 , you can fix any seed value like 2,3 e.t.c.,
but popular value is 42

In [ ]:
d1.sample(frac=0.10, replace=True, random_state=5)

In [ ]:
d1.sample(n=5, replace=True, random_state=42)

Stratified Sampling

In [ ]:
d2 = pd.read_csv(r'../Datasets/StudentsPerformance.csv')
d2.head()

In [ ]:
sns.histplot(d2['race/ethnicity'])

In [ ]:
d2.groupby('race/ethnicity', group_keys=False).apply(lambda x:x.sample(min(len(x),3)))

For each unique "race/ethnicity" group, it randomly samples up to 3 rows.
If a group has fewer than 3 rows, it returns all rows from that group.
The result is a new DataFrame consisting of a random sample of up to 3 rows from each "race/ethnicity" group.

In [ ]:
d2.groupby('gender', group_keys=False).apply(lambda x:x.sample(min(len(x),3)))

Systematic sampling

In [ ]:
step_size = 6
d2.iloc[::step_size]

Frequency Distribution
Range

In [ ]:
reading_range = np.amax(d2['reading score'])-np.amin(d2['reading score'])
reading_range

Number of classes

In [15]:
num_of_classes=6


Class Interval

In [ ]:
class_interval = reading_range/num_of_classes
class_interval

Class Midpoint

Relative Frequency

In [ ]:
d2['reading score'].value_counts()

Cumulative Frequency

In [ ]:
d2['reading score'].value_counts().cumsum()

Measures of central tendency

Mean

In [ ]:
d2['math score'].mean()

axis=0 (default): Compute the mean column-wise. Each column's values are averaged.

skipna=True (default): Exclude NaN (missing) values when calculating the mean. If set to False, any NaN values will result in the mean being NaN for that column.

numeric_only=None (default): If set to True, it only calculates the mean for numeric columns. If set to None (the default), it will try to infer whether to ignore non-numeric columns.

In [ ]:
d2.mean(axis=0, skipna=True, numeric_only=True)

Median

In [ ]:
d2['reading score'].median()

MOde

In [ ]:
d2['reading score'].mode()

Percentile

In [ ]:
d2.quantile(.2, axis = 0,numeric_only=True)

In [ ]:
d2.quantile([.1, .3, .63, .95], axis = 0,numeric_only=True)

Quartile

In [ ]:
d2.quantile([.25, .50, .75], axis = 0,numeric_only=True)

Measures of variance

In [ ]:
d3 = pd.read_csv(r'../Datasets/nba.csv')
d3.head()

In [ ]:
d3.skew(axis=0, skipna=True, numeric_only=True)

The data for Number and Salary is significantly right-skewed, indicating potential outliers or higher values stretching the distribution.

The Age column is moderately skewed to the right.

The Weight column is nearly symmetrical, meaning the data is balanced around the mean without a strong skew.

In [ ]:
d3['Salary'].sort_values().hist().plot(use_index=False)

In [ ]:
sns.boxplot(d3['Salary'])

Kurtosis

In [ ]:
d3.kurtosis(numeric_only=True)

Number (4.36): Highly leptokurtic, indicating heavy tails and more extreme values or outliers.

Age (-0.05): Nearly mesokurtic (close to 0), suggesting a near-normal distribution with few outliers.

Weight (-0.55): Platykurtic, indicating light tails with fewer extreme values or outliers.

Salary (1.84): Slightly leptokurtic, suggesting moderate tails with some outliers.