Name: Krishna GSVV  
Roll no. AV.EN.U4CSE22016  
Date: 6/8/24

# LIST

In [1]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")  # Add item
fruits.remove("banana")  # Remove item
print(fruits)  # Output: ['apple', 'cherry', 'orange']

['apple', 'cherry', 'orange']

In [2]:
squares = [x**2 for x in range(5)]
print(squares)  # Output: [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

In [3]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for row in matrix:
    print(row)  # Output: [1, 2, 3], [4, 5, 6], [7, 8, 9]

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [4]:
animals = ['cat', 'dog', 'rabbit', 'horse']
subset = animals[1:3]
print(subset)  # Output: ['dog', 'rabbit']

['dog', 'rabbit']

# Dictionaries

In [5]:
student = {"name": "Alice", "age": 25, "grade": "A"}
student["age"] = 26  # Update value
print(student)  # Output: {'name': 'Alice', 'age': 26, 'grade': 'A'}

{'name': 'Alice', 'age': 26, 'grade': 'A'}

In [6]:
for key, value in student.items():
    print(f"{key}: {value}")
# Output:
# name: Alice
# age: 26
# grade: A

name: Alice
age: 26
grade: A

In [7]:
squares_dict = {x: x**2 for x in range(5)}
print(squares_dict)  # Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [8]:
classroom = {
    "student1": {"name": "John", "age": 22},
    "student2": {"name": "Jane", "age": 21}
}
print(classroom["student1"]["name"])  # Output: John

John

#  Tuples

In [9]:
my_tuple = (1, 2, 3, 4)
print(my_tuple[2])  # Output: 3

3

In [10]:
point = (10, 20)
x, y = point
print(x, y)  # Output: 10 20

10 20

In [11]:
person = ("Alice", 25, True)
print(person)  # Output: ('Alice', 25, True)

('Alice', 25, True)

In [12]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
for pair in nested_tuple:
    print(pair)
# Output:
# (1, 2)
# (3, 4)
# (5, 6)

(1, 2)
(3, 4)
(5, 6)

#  Sets

In [13]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
fruits.discard("banana")
print(fruits)  # Output: {'apple', 'cherry', 'orange'}

{'cherry', 'orange', 'apple'}

In [14]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print(A | B)  # Union: {1, 2, 3, 4, 5, 6}
print(A & B)  # Intersection: {3, 4}

{1, 2, 3, 4, 5, 6}
{3, 4}

In [15]:
print(A - B)  # Difference: {1, 2}
print(A ^ B)  # Symmetric Difference: {1, 2, 5, 6}

{1, 2}
{1, 2, 5, 6}

In [17]:
even_squares = {x**2 for x in range(10) if x % 2 == 0}
print(even_squares)  # Output: {0, 4, 16, 36, 64}

{0, 64, 4, 36, 16}