Name: Krishna GSVV  
Roll no. AV.EN.U4CSE22016  
Date: 13/8/24

In [2]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [26]:
import numpy as np
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([10, 20, 30, 40, 50])
result = np.add(arr1, arr2)
print(result)

[11 22 33 44 55]

In [4]:
import numpy as np
arr1 = np.array([10, 20, 30, 40, 50])
arr2 = np.array([1, 2, 3, 4, 5])
result = np.subtract(arr1, arr2)
print(result)

[ 9 18 27 36 45]

In [9]:
import numpy as np
arr1 = np.array([10, 20, 30, 40, 50])
arr2 = np.array([1, 2, 3, 4, 5])
result = np.multiply(arr1, arr2)
print(result)

[ 10  40  90 160 250]

In [13]:
import numpy as np
arr1 = np.array([10, 20, 30, 40, 50])
arr2 = np.array([1, 2, 3, 4, 5])
result = np.divide(arr1, arr2)
print(result)

[10. 10. 10. 10. 10.]

In [17]:
import numpy as np
arr = np.array([4, 9, 16, 25, 36])
result = np.sqrt(arr)
print(result)

[2. 3. 4. 5. 6.]

In [18]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
result = np.exp(arr)
print(result)

[  2.71828183   7.3890561   20.08553692  54.59815003 148.4131591 ]

In [19]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
result = np.sum(arr)
print(result)

15

In [20]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
result = np.any(arr)
print(result)

True

In [21]:
import numpy as np
arr = np.array([0, 2, 3, 4, 5])
result = np.all(arr)
print(result)

False

In [23]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print(np.mean(arr))

3.0

In [24]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print(np.median(arr))

3.0

In [39]:
import numpy as np
import statistics
arr = np.array([1, 1, 3, 4, 5])
print(sd.mode(arr))

1

In [28]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print(np.log(arr))

[0.         0.69314718 1.09861229 1.38629436 1.60943791]

In [29]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print(np.diff(arr))

[1 1 1 1]

In [30]:
import numpy as np
arr = np.array([1.9, 2, 3, 4, 5])
print(np.round(arr))

[2. 2. 3. 4. 5.]

In [31]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print(np.cumsum(arr))

[ 1  3  6 10 15]

In [32]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print(np.cumprod(arr))

[  1   2   6  24 120]

In [33]:
import numpy as np
arr = np.array([10, 2, 3, 4, 5])
print(np.sort(arr))

[ 2  3  4  5 10]

In [37]:
import numpy as np
arr = np.array([5, 4, 13, 2, 11])
sorted_arr = np.sort(arr)[::-1]
print(sorted_arr)

[13 11  5  4  2]

In [1]:
pip install datascience

Collecting datascience
  Obtaining dependency information for datascience from https://files.pythonhosted.org/packages/6e/f0/39eef56d064af958e2484711705187d00575fdbbd040b827d31c4dda83b6/datascience-0.17.6-py3-none-any.whl.metadata
  Downloading datascience-0.17.6-py3-none-any.whl.metadata (688 bytes)
Collecting folium>=0.9.1 (from datascience)
  Obtaining dependency information for folium>=0.9.1 from https://files.pythonhosted.org/packages/ae/6d/18a7546e1748ecdd6ed7cd00d3f183faf1df08bd4f5e5e0eb3e72458b862/folium-0.17.0-py2.py3-none-any.whl.metadata
  Downloading folium-0.17.0-py2.py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: setuptools in c:\users\sekha\anaconda3\lib\site-packages (from datascience) (68.0.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\sekha\anaconda3\lib\site-packages (from datascience) (3.7.2)
Requirement already satisfied: pandas in c:\users\sekha\anaconda3\lib\site-packages (from datascience) (2.0.3)
Requirement already satisfied: scipy in c:\users\sekha\anaconda3\lib\site-packages (from datascience) (1.11.1)
Requirement already satisfied: numpy in c:\users\sekha\anaconda3\lib\site-packages (from datascience) (1.24.3)
Requirement already satisfied: ipython in c:\users\sekha\anaconda3\lib\site-packages (from datascience) (8.15.0)
Requirement already satisfied: plotly in c:\users\sekha\anaconda3\lib\site-packages (from datascience) (5.9.0)
Collecting branca (from datascience)
  Obtaining dependency information for branca from https://files.pythonhosted.org/packages/fc/be/720f85abacd654ec86f1431bc7c004eae74417bd9d0e7a2bc43601062627/branca-0.8.0-py3-none-any.whl.metadata
  Downloading branca-0.8.0-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\sekha\anaconda3\lib\site-packages (from folium>=0.9.1->datascience) (3.1.2)
Requirement already satisfied: requests in c:\users\sekha\anaconda3\lib\site-packages (from folium>=0.9.1->datascience) (2.31.0)
Requirement already satisfied: xyzservices in c:\users\sekha\anaconda3\lib\site-packages (from folium>=0.9.1->datascience) (2022.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sekha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\sekha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sekha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sekha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\sekha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sekha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (10.0.1)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\sekha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sekha\anaconda3\lib\site-packages (from matplotlib>=3.0.0->datascience) (2.8.2)
Requirement already satisfied: backcall in c:\users\sekha\anaconda3\lib\site-packages (from ipython->datascience) (0.2.0)
Requirement already satisfied: decorator in c:\users\sekha\anaconda3\lib\site-packages (from ipython->datascience) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sekha\anaconda3\lib\site-packages (from ipython->datascience) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\sekha\anaconda3\lib\site-packages (from ipython->datascience) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\sekha\anaconda3\lib\site-packages (from ipython->datascience) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\sekha\anaconda3\lib\site-packages (from ipython->datascience) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sekha\anaconda3\lib\site-packages (from ipython->datascience) (2.15.1)
Requirement already satisfied: stack-data in c:\users\sekha\anaconda3\lib\site-packages (from ipython->datascience) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\sekha\anaconda3\lib\site-packages (from ipython->datascience) (5.7.1)
Requirement already satisfied: colorama in c:\users\sekha\anaconda3\lib\site-packages (from ipython->datascience) (0.4.6)
Requirement already satisfied: pytz>=2020.1 in c:\users\sekha\anaconda3\lib\site-packages (from pandas->datascience) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sekha\anaconda3\lib\site-packages (from pandas->datascience) (2023.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\sekha\anaconda3\lib\site-packages (from plotly->datascience) (8.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\sekha\anaconda3\lib\site-packages (from jedi>=0.16->ipython->datascience) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sekha\anaconda3\lib\site-packages (from jinja2>=2.9->folium>=0.9.1->datascience) (2.1.1)
Requirement already satisfied: wcwidth in c:\users\sekha\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython->datascience) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\users\sekha\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->datascience) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sekha\anaconda3\lib\site-packages (from requests->folium>=0.9.1->datascience) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sekha\anaconda3\lib\site-packages (from requests->folium>=0.9.1->datascience) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sekha\anaconda3\lib\site-packages (from requests->folium>=0.9.1->datascience) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sekha\anaconda3\lib\site-packages (from requests->folium>=0.9.1->datascience) (2023.11.17)
Requirement already satisfied: executing in c:\users\sekha\anaconda3\lib\site-packages (from stack-data->ipython->datascience) (0.8.3)
Requirement already satisfied: asttokens in c:\users\sekha\anaconda3\lib\site-packages (from stack-data->ipython->datascience) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\sekha\anaconda3\lib\site-packages (from stack-data->ipython->datascience) (0.2.2)
Downloading datascience-0.17.6-py3-none-any.whl (732 kB)
   ---------------------------------------- 0.0/732.8 kB ? eta -:--:--
    --------------------------------------- 10.2/732.8 kB ? eta -:--:--
    --------------------------------------- 10.2/732.8 kB ? eta -:--:--
    --------------------------------------- 10.2/732.8 kB ? eta -:--:--
   - ------------------------------------- 30.7/732.8 kB 163.8 kB/s eta 0:00:05
   - ------------------------------------- 30.7/732.8 kB 163.8 kB/s eta 0:00:05
   --- ----------------------------------- 61.4/732.8 kB 204.8 kB/s eta 0:00:04
   --- ----------------------------------- 61.4/732.8 kB 204.8 kB/s eta 0:00:04
   --- ----------------------------------- 71.7/732.8 kB 196.9 kB/s eta 0:00:04
   --- ----------------------------------- 71.7/732.8 kB 196.9 kB/s eta 0:00:04
   ---- ---------------------------------- 81.9/732.8 kB 164.0 kB/s eta 0:00:04
   ---- ---------------------------------- 81.9/732.8 kB 164.0 kB/s eta 0:00:04
   ---- ---------------------------------- 81.9/732.8 kB 164.0 kB/s eta 0:00:04
   ------ ------------------------------- 133.1/732.8 kB 218.6 kB/s eta 0:00:03
   ------ ------------------------------- 133.1/732.8 kB 218.6 kB/s eta 0:00:03
   ------- ------------------------------ 153.6/732.8 kB 224.0 kB/s eta 0:00:03
   --------- ---------------------------- 184.3/732.8 kB 242.5 kB/s eta 0:00:03
   --------- ---------------------------- 184.3/732.8 kB 242.5 kB/s eta 0:00:03
   ------------ ------------------------- 235.5/732.8 kB 283.0 kB/s eta 0:00:02
   ------------ ------------------------- 235.5/732.8 kB 283.0 kB/s eta 0:00:02
   ------------- ------------------------ 266.2/732.8 kB 287.6 kB/s eta 0:00:02
   ------------- ------------------------ 266.2/732.8 kB 287.6 kB/s eta 0:00:02
   --------------- ---------------------- 297.0/732.8 kB 296.2 kB/s eta 0:00:02
   --------------- ---------------------- 307.2/732.8 kB 283.9 kB/s eta 0:00:02
   ---------------- --------------------- 317.4/732.8 kB 293.7 kB/s eta 0:00:02
   ---------------- --------------------- 317.4/732.8 kB 293.7 kB/s eta 0:00:02
   ------------------ ------------------- 358.4/732.8 kB 297.3 kB/s eta 0:00:02
   -------------------- ----------------- 389.1/732.8 kB 314.9 kB/s eta 0:00:02
   -------------------- ----------------- 389.1/732.8 kB 314.9 kB/s eta 0:00:02
   -------------------- ----------------- 389.1/732.8 kB 314.9 kB/s eta 0:00:02
   ---------------------- --------------- 440.3/732.8 kB 316.5 kB/s eta 0:00:01
   ---------------------- --------------- 440.3/732.8 kB 316.5 kB/s eta 0:00:01
   -------------------------- ----------- 512.0/732.8 kB 341.8 kB/s eta 0:00:01
   -------------------------- ----------- 512.0/732.8 kB 341.8 kB/s eta 0:00:01
   -------------------------- ----------- 512.0/732.8 kB 341.8 kB/s eta 0:00:01
   ---------------------------- --------- 553.0/732.8 kB 337.3 kB/s eta 0:00:01
   ----------------------------- -------- 573.4/732.8 kB 343.4 kB/s eta 0:00:01
   ------------------------------- ------ 604.2/732.8 kB 352.1 kB/s eta 0:00:01
   -------------------------------- ----- 624.6/732.8 kB 354.3 kB/s eta 0:00:01
   -------------------------------- ----- 634.9/732.8 kB 353.9 kB/s eta 0:00:01
   ----------------------------------- -- 675.8/732.8 kB 367.3 kB/s eta 0:00:01
   ----------------------------------- -- 686.1/732.8 kB 357.6 kB/s eta 0:00:01
   ----------------------------------- -- 686.1/732.8 kB 357.6 kB/s eta 0:00:01
   -------------------------------------  716.8/732.8 kB 359.0 kB/s eta 0:00:01
   -------------------------------------- 732.8/732.8 kB 355.8 kB/s eta 0:00:00
Downloading folium-0.17.0-py2.py3-none-any.whl (108 kB)
   ---------------------------------------- 0.0/108.4 kB ? eta -:--:--
   ---------------------------------------- 0.0/108.4 kB ? eta -:--:--
   ----------- ---------------------------- 30.7/108.4 kB ? eta -:--:--
   ---------------------- ----------------- 61.4/108.4 kB 1.1 MB/s eta 0:00:01
   --------------------------------- ----- 92.2/108.4 kB 744.7 kB/s eta 0:00:01
   -------------------------------------- 108.4/108.4 kB 625.3 kB/s eta 0:00:00
Downloading branca-0.8.0-py3-none-any.whl (25 kB)
Installing collected packages: branca, folium, datascience
Successfully installed branca-0.8.0 datascience-0.17.6 folium-0.17.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
from datascience import Table
Table()

In [3]:
Table().with_columns('Number of petals',[8,34,5],
                     'Name',['harshi','lilly','rosie'])

Number of petals | Name
8                | harshi
34               | lilly
5                | rosie

In [4]:
ran= Table.read_table('ran.csv')
ran

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [5]:
ran.num_rows

8

In [6]:
ran.labels

('Longitude', 'Latitude', 'City', 'Direction', 'Survivors')

In [7]:
ran.relabeled('City', 'City Name')

Longitude | Latitude | City Name   | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [8]:
ran

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [9]:
ran.column('Survivors')

array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000])

In [10]:
ran.column(4)

array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000])

In [11]:
ran.column(4).item(0)

145000

In [12]:
ran.column(4).item(5)

24000

In [13]:
initial = ran.column('Survivors').item(0)
minard = ran.with_columns(
'Percent Surviving',ran.column('Survivors')/initial
)
minard

Longitude | Latitude | City        | Direction | Survivors | Percent Surviving
32        | 54.8     | Smolensk    | Advance   | 145000    | 1
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 0.965517
34.4      | 55.5     | Chjat       | Advance   | 127100    | 0.876552
37.6      | 55.8     | Moscou      | Advance   | 100000    | 0.689655
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 0.37931
32        | 54.6     | Smolensk    | Retreat   | 24000     | 0.165517
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 0.137931
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 0.0827586

In [14]:
ran.select('Longitude', 'Latitude')

Longitude | Latitude
32        | 54.8
33.2      | 54.9
34.4      | 55.5
37.6      | 55.8
34.3      | 55.2
32        | 54.6
30.4      | 54.4
26.8      | 54.3

In [15]:
ran.select(0, 1)

Longitude | Latitude
32        | 54.8
33.2      | 54.9
34.4      | 55.5
37.6      | 55.8
34.3      | 55.2
32        | 54.6
30.4      | 54.4
26.8      | 54.3

In [16]:
ran.select('Survivors')

Survivors
145000
140000
127100
100000
55000
24000
20000
12000

In [17]:
ran.column('Survivors')

array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000])

In [18]:
ran.drop('Longitude', 'Latitude', 'Direction')

City        | Survivors
Smolensk    | 145000
Dorogobouge | 140000
Chjat       | 127100
Moscou      | 100000
Wixma       | 55000
Smolensk    | 24000
Orscha      | 20000
Moiodexno   | 12000

In [19]:
import pandas as pd
data =pd.read_csv("nba.csv",index_col="Name")
print(data)
data.shape

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
...                       ...     ...      ...   ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C  26.0    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0
NaN                       NaN     NaN      NaN   NaN    NaN     NaN

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0
...                          ...        ...
Shelvin Mack              Butler  2433333.0
Raul Neto                    NaN   900000.0
Tibor Pleiss                 NaN  2900000.0
Jeff Withey               Kansas   947276.0
NaN                          NaN        NaN

[458 rows x 8 columns]

(458, 8)

In [20]:
import pandas as pd
data =pd.read_csv("nba.csv",index_col="Name")
print(data)
data.shape

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
...                       ...     ...      ...   ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C  26.0    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0
NaN                       NaN     NaN      NaN   NaN    NaN     NaN

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0
...                          ...        ...
Shelvin Mack              Butler  2433333.0
Raul Neto                    NaN   900000.0
Tibor Pleiss                 NaN  2900000.0
Jeff Withey               Kansas   947276.0
NaN                          NaN        NaN

[458 rows x 8 columns]

(458, 8)