In [ ]:
import pandas as pd
import numpy as np

ser = pd.Series()
print(ser)

data = np.array(["g", "e", "e", "k", "s"])
ser = pd.Series(data)
print(ser)

In [ ]:
import pandas as pd

data = ["c", "s", "e"]
ser = pd.Series(data)
print(ser)

In [ ]:
df = pd.DataFrame()
print(df)

In [ ]:
lst = ["Amrita", "Vishwa", "Vidyapeetham"]
print(lst)

In [ ]:
df = pd.DataFrame(lst)
display(df)

In [ ]:
data = {"Name": ["Tom", "nick", "krish", "amal"], "Age": [20, 21, 22, 23]}
df = pd.DataFrame(data)
display(df)

In [ ]:
data = {
    "Name": ["jai", "princi", "Gaurav", "Anuj"],
    "Age": [27, 24, 22, 32],
    "Address": ["Delhi", "Kanpur", "Allahabad", "Kannauj"],
    "Qualification": ["MSC", "MA", "MCA", "phd"],
}
df = pd.DataFrame(data)
display(df)

In [ ]:
display(df["Name"])

In [ ]:
print(df.iloc[0])
print()
print(df.iloc[0:0])

In [ ]:
df = pd.read_csv("nba.CSV")
display(df)

In [ ]:
display(df.head(5))

In [ ]:
display(df.tail(5))

In [ ]:
display(df.describe())

In [ ]:
print(df.shape)

In [ ]:
print(df.info)

In [94]:
print(df.loc[2])

Name             John Holland
Team           Boston Celtics
Number                   30.0
Position                   SG
Age                      27.0
Height                    6-5
Weight                  205.0
College     Boston University
Salary                    NaN
Name: 2, dtype: object

In [93]:
display(df.iloc[0:2])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0

In [ ]:
df.sort_values(by="Age")

In [ ]:
df.sort_values(by="Age", ascending=False)

In [ ]:
df.sort_values(by=["Age", "Weight"])

In [ ]:
df.sort_values(by=["Age", "Weight"], na_position="first")