In [1]:
import pandas as pd
import numpy as np

ser = pd.Series()
print(ser)

data = np.array(["g", "e", "e", "k", "s"])
ser = pd.Series(data)
print(ser)

Series([], dtype: object)
0    g
1    e
2    e
3    k
4    s
dtype: object

In [2]:
import pandas as pd

data = ["c", "s", "e"]
ser = pd.Series(data)
print(ser)

0    c
1    s
2    e
dtype: object

In [3]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
lst = ["Amrita", "Vishwa", "Vidyapeetham"]
print(lst)

['Amrita', 'Vishwa', 'Vidyapeetham']

In [5]:
df = pd.DataFrame(lst)
display(df)

              0
0        Amrita
1        Vishwa
2  Vidyapeetham

In [6]:
data = {"Name": ["Tom", "nick", "krish", "amal"], "Age": [20, 21, 22, 23]}
df = pd.DataFrame(data)
display(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   22
3   amal   23

In [7]:
data = {
    "Name": ["jai", "princi", "Gaurav", "Anuj"],
    "Age": [27, 24, 22, 32],
    "Address": ["Delhi", "Kanpur", "Allahabad", "Kannauj"],
    "Qualification": ["MSC", "MA", "MCA", "phd"],
}
df = pd.DataFrame(data)
display(df)

     Name  Age    Address Qualification
0     jai   27      Delhi           MSC
1  princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           phd

In [8]:
display(df["Name"])

0       jai
1    princi
2    Gaurav
3      Anuj
Name: Name, dtype: object

In [9]:
print(df.iloc[0])
print()
print(df.iloc[0:0])

Name               jai
Age                 27
Address          Delhi
Qualification      MSC
Name: 0, dtype: object

Empty DataFrame
Columns: [Name, Age, Address, Qualification]
Index: []

In [10]:
df = pd.read_csv(r'./Datasets/nba.csv')
display(df)

FileNotFoundError: [Errno 2] No such file or directory: '../Datasets/nba.csv'

In [ ]:
display(df.head(5))

In [ ]:
display(df.tail(5))

In [ ]:
display(df.describe())

In [ ]:
print(df.shape)

In [ ]:
print(df.info)

In [94]:
print(df.loc[2])

Name             John Holland
Team           Boston Celtics
Number                   30.0
Position                   SG
Age                      27.0
Height                    6-5
Weight                  205.0
College     Boston University
Salary                    NaN
Name: 2, dtype: object

In [93]:
display(df.iloc[0:2])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0

In [ ]:
df.sort_values(by="Age")

In [ ]:
df.sort_values(by="Age", ascending=False)

In [ ]:
df.sort_values(by=["Age", "Weight"])

In [ ]:
df.sort_values(by=["Age", "Weight"], na_position="first")